$font-family-sans-serif:  'Red Hat Display', sans-serif;

$dark:          #283054;
$primary:       #766CF1;
$light:         #F8F9FE;


$border-radius:            2rem;







@import "../node_modules/bootstrap/scss/bootstrap";